@charset "UTF-8";
/* CSS Document */
*{
	box-sizing:border-box;
}
#nav{
	/*margin-left:-14px;*/
	position:fixed;
	z-index:1;
	font-size:1em;
	font-family: 'Poiret One', cursive;
	top:10%;
	left:2%;
}
#nav * {
  margin: 0;
  padding: 0;
  outline: 0;
  transition: all .75s ease;
  -webkit-transition: all .75s ease;
  -moz-transition: all .75s ease;
  -o-transition: all .75s ease;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
#nav ul{
	list-style:none;
}
#nav ul li{
	padding-top:26px;
	/*padding-bottom:12px;*/
}
#nav li a {
  text-decoration: none;
  color: #fff;
  display: block;
  position: relative;
}
#nav li span{
  font-size:1.25em;
  vertical-align:middle;
  height: 55px;
  line-height: 69px;
  width:450%;
  padding: 10px -18px;
  position:absolute;
  top:0;
  visibilty:hidden;
  z-index:-1; 
  background-color:rgba(171,170,170,0.76); 
  text-align:right;
  padding-right:8px;
  padding-top:3px;
  margin-top:-2px;
}
#nav .photo {
  vertical-align: middle;
  font-size: 18px;
  position: relative;
  z-index:3;
}
#nav li a:hover span { 
  visibility: visible; 
}
#nav li .photo {
  color: #555;
  width:30px;
}
#nav .list {
  left: 0;
  text-align:right;
}
#nav.list li span { left: -400px; 
}
#nav.list li a:hover span { left:-130%; 
}
img{
	max-width: 100%;
}
body{
	background:url(newbg.jpg);
	background-size:cover;
	margin:0;
	font-family:'Poiret One', cursive;
}
#container{
	position:relative;
	width: 70%;
  	margin: 0 auto;
  	overflow: hidden;
	max-width:740px;
	overflow:hidden;
}
#top, #bottom, #portfolio { 
  position: relative;
  padding: 40px;
}
#top{
	background:#1a1e21;
	/*height: 600px;
	position: relative;
	/*padding-top:400px;*/	
}
p{
	color:white;
	margin-bottom:40px;
	font-size:1.1em;
}
#top:after, #bottom:after, #portfolio{
    -webkit-transform: skewY(15deg);
    -ms-transform: skewY(15deg);
    transform: skewY(15deg);
}
#top:after{
  background:#1a1e21;
  bottom: -100px; 
  position:absolute;
  left: 0;
  height: 6,000px;
}
#bottom:after{
	background:#457489;
	top: -100px;
}
#top:after, #bottom:after { 
  content: ''; 
  position: absolute; 
  z-index: -1;
  width: 100%;
  left: 0;
  height:800px;  
}
#bottom:after{
	overflow:hidden;
}
.unskew,.picturebox img{
	-webkit-transform: skewY(-15deg);
    -ms-transform: skewY(-15deg);
    transform: skewY(-15deg);
}
h1{
	font-size:82px;
	text-align:right;
	color:#b7d1df;	
	margin-bottom:6%;
}
.bigtext{
	font-size:20px;
	text-align:right;
	color:#b7d1df;
	
}
#portfolio{
	background:#0f2f44;
    margin: 130px 0;
	overflow:auto;
}
#portfolio h2{
	color:white;
	font-size:28px;
}
#morell{
	padding-top:4px;
}
.column{
	width: 48%;
	float:left;
}
.column + .column{
	margin-left:4%;
}
.picturebox{
	overflow:hidden;
	backface-visibility:hidden;	
	height: 0;
	padding-bottom:65%;
	margin-bottom:10%;
	cursor:pointer;
}
.picturebox img{
	margin-top: -17%;
}
#bottom{
	background:#457489;
	margin-top:40px;
	padding-bottom:50px;
}
#bottom p{
	/*background:#3A3A3A;*/
}
#logo{
	background-color:rgba(220,220,220,0.79);
	margin-left:-40px;
	margin-right:-40px;
	padding-top:100px;
	padding-left:30px;
	padding-bottom:10px;
	border-top:15px solid rgba(0,0,0,1.00);
	border-bottom:15px solid rgba(0,0,0,1.00);
}
#logo p{
	float:right;
	padding-top:80px;
}
#logo a{
	text-decoration:overline;
	background-color:rgba(236,236,236,1.00);
	padding:4px;
	font-size:26px;
	
}
#logo a:hover{
	background-color:rgba(17,24,109,1.00);
	font-size:28px;
	color:rgba(255,255,255,1.00);
}
#darken{
	position:fixed;
	z-index:1;
	top:0;
	left:0;
	background-color:rgba(0,0,0,0.58);
	width: 100%;
	height: 100%;
	display:none;
	
}
#modal{
	width: 80%;
	height:90%;
	background-color:rgba(255,255,255,0.90);
	margin-left:-40%;
	position:fixed;
	top:5%;
	left:50%;
}
#close{
	top:0;
	right:0;
	margin-left:auto;
	display:block;
	cursor:pointer;
	color: rgba(0, 0, 0, 0.55);
    border: 2px solid rgba(33, 68, 72, 0.59);
    background: #34696f;
    font-weight: bold;
    display: inline-block;
    line-height: 0px;
    padding: 11px 3px;
	text-align:center;
	font: bold 2em/20px "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
	height: 50px;
    width: 50px;
	      
}
#modal_content1{
	padding-top:10px;
	padding-left:10%;
	
}
#modal_content2{
	padding-top:10px;
	padding-left:10%;
	
}
#modal_content3{
	padding-top:40px;
	padding-left:10%;
	
}
#modal_content4{
	padding-top:10px;
	padding-left:10%;
	
}
#modal_content5{
	padding-top:10px;
	padding-left:10%;
	
}
#modal_content6{
	padding-top:10px;
	padding-left:10%;
	
}
#morell_img{
	float:left;
	border:4px solid rgba(45,67,136,1.00);
	padding:10px;
	margin-right:3%;
}
#dance_img{
	float:left;
	border:4px solid rgba(45,67,136,1.00);
	padding:10px;
	margin-right:3%;
}
#dots_img{
	float:left;
	border:4px solid rgba(45,67,136,1.00);
	padding:10px;
	margin-right:3%;
}
#winelabels_img{
	float:left;
	border:4px solid rgba(45,67,136,1.00);
	padding:10px;
	margin-right:3%;
}
#bells_img{
	float:left;
	border:4px solid rgba(45,67,136,1.00);
	padding:10px;
	margin-right:3%;
}
#flux_img{
	float:left;
	border:4px solid rgba(45,67,136,1.00);
	padding:10px;
	margin-right:3%;
}
#modal_content1 h4{
	color:rgba(15,82,150,1.00);
	padding-left:50%;
	margin-top:110px;
	padding-right:36px;
	font-size:1.1em;
		
}
#modal_content2 h4{
	color:rgba(15,82,150,1.00);
	padding-left:45%;
	margin-top:110px;
	padding-right:36px;
	font-size:1.1em;
		
}
#modal_content3 h4{
	color:rgba(15,82,150,1.00);
	padding-left:45%;
	margin-top:110px;
	padding-right:36px;
	font-size:1.1em;
}
#modal_content4 h4{
	color:rgba(15,82,150,1.00);
	padding-left:45%;
	margin-top:10%px;
	padding-right:36px;
	font-size:1.1em;
		
}
#modal_content5 h4{
	color:rgba(15,82,150,1.00);
	padding-left:50%;
	margin-top:110px;
	padding-right:36px;
	font-size:1.1em;
		
}
#modal_content6 h4{
	color:rgba(15,82,150,1.00);
	padding-left:50%;
	margin-top:110px;
	padding-right:36px;
	font-size:1.1em;
		
}
.hfive{
	padding-left:3px;
	color:rgba(101,101,101,1.00);
	
}
@media (max-width:940px){
	h1{
		font-size:70px;
	}
	p{
		font-size:14px;
	}
}
@media (max-width:775px){
	h1{
		font-size:60px;
	}
	p{
		font-size:14px;
	}
}
@media (max-width:690px){
	h1{
		font-size:40px;
	}
	h2, .bigtext{
		font-size:16px;
	}
	p{
		font-size:14px;
	}
}
@media (max-width:510px){
	h1{
		font-size:30px;
	}
	h2, .bigtext{
		font-size:18px;
	}
	p{
		font-size:14px;
	}
		.column{
	width: 90%;
	float:left;
}
.column + .column{
	margin-left:0;
}
}
@media (max-width:590px){
	#logo p{
		float:left;	
	}
}



