@charset "UTF-8";
/* CSS Document */
*{
	box-sizing:border-box;
}
nav{
	margin-left:-35px;
	position:fixed;
}
nav ul li{
	padding-top:3px;
	padding-bottom:3px;
}
nav li:hover{
	border:#D81418;
}
body{
	background:url(newbg.jpg);
	background-size:cover;
	margin:0;
}
#container{
	/*top:-150px;
	/*margin-top: 2.4rem;*/
	/*display: block;*/
	position:relative;
	width: 70%;
  	margin: 0 auto;
  	overflow: hidden;
	max-width:740px;
}
#top, #bottom { 
  position: relative;
  padding: 20px;
}
#top{
	background:#1a1e21;
	height: 600px;
	position: relative;
	/*padding-top:400px;*/	
}
p{
	color:white;
	margin:40px 20px 40px 20px;
	font-size:16px;
	font-family: 'Poiret One', cursive;
	
}
#top:after{
  background:#1a1e21;
  bottom: -100px; 
  -webkit-transform: skewY(15deg);
  -ms-transform: skewY(15deg);
  transform: skewY(15deg);
  position:absolute;
  left: 0;
  height: 6,000px;
  
}
#top:after, #bottom:after { 
  content: ''; 
  position: absolute; 
  z-index: -1;
  width: 100%;
  left: 0;
  height: 500px; 
  -webkit-transform: skewY(15deg);
  -ms-transform: skewY(15deg);
  transform: skewY(15deg);
}
.unskew,.picturebox img{
	-webkit-transform:skewY(-15deg);
	-ms-transform: skewY(-15deg);
	transform:skewY(-15deg);
}
h1{
	padding:0px 20px 0px 0px;
	font-family: 'Poiret One', cursive;
	font-size:82px;
	text-align:right;
	color:#b7d1df;	
}
h2{
	padding:50px 20px 0px 0px;
	font-family: 'Poiret One', cursive;
	font-size:20px;
	text-align:right;
	color:#b7d1df;
	
}
#portfolio{
	background:#0f2f44;
	height: 600px;
	padding: 20px;
    -webkit-transform: skewY(15deg);
	-ms-transform: skewY(15deg);
	transform: skewY(15deg);
    margin: 130px 0;
}
#portfolio h2{
	color:white;
	text-align:left;
	padding:10px 0px 0px 10px;
	font-size:28px;
}
.picturebox{
	overflow:hidden;
	backface-visibility:hidden;	
	height:118px;
	margin-left:40px;
}
.picturebox img{
	margin-top:-40px;
}
#dance{
	margin-top:30px;
	padding-top:-30px;
}
#dots{
	margin-top:30px;
}
aside{
	margin-left: 323px;
	margin-top:-414px;
}
#blank1{
	margin-top:30px;
}
#blank2{
	margin-top:30px;
}
#bottom{
	background:#457489;
	margin-top:40px;
	height: 400px;
}
#bottom:after{
  background: #457489;
  top: -100px; 
  height: 1000px;
}

@media (max-width:940px){
	h1{
		font-size:70px;
	}
	p{
		font-size:14px;
	}
}
@media (max-width:775px){
	h1{
		font-size:60px;
	}
	p{
		font-size:14px;
	}
}
@media (max-width:690px){
	h1{
		font-size:40px;
	}
	h2{
		font-size:16px;
	}
	p{
		font-size:14px;
	}
}
@media (max-width:510px){
	h1{
		font-size:24px;
	}
	h2{
		font-size:12px;
	}
	p{
		font-size:10px;
	}
}



