@charset "UTF-8";
/* CSS Document */
*{
	box-sizing:border-box;
}
nav{
	margin-left:-14px;
	position:fixed;
}
nav ul li{
	padding-top:5px;
	padding-bottom:5px;
	list-style:none;
}
nav li:hover{
	border:#D81418;
}
img{
	max-width: 100%;
}
body{
	background:url(newbg.jpg);
	background-size:cover;
	margin:0;
	font-family:'Poiret One', cursive;
}
#container{
	position:relative;
	width: 70%;
  	margin: 0 auto;
  	overflow: hidden;
	max-width:740px;
}
#top, #bottom, #portfolio { 
  position: relative;
  padding: 40px;
}
#top{
	background:#1a1e21;
	/*height: 600px;
	position: relative;
	/*padding-top:400px;*/	
}
p{
	color:white;
	margin-bottom:40px;
	font-size:1.1em;
}
#top:after, #bottom:after, #portfolio{
    -webkit-transform: skewY(15deg);
    -ms-transform: skewY(15deg);
    transform: skewY(15deg);
}
#top:after{
  background:#1a1e21;
  bottom: -100px; 
  position:absolute;
  left: 0;
  height: 6,000px;
}
#bottom:after{
	background:#457489;
	top: -100px;
}
#top:after, #bottom:after { 
  content: ''; 
  position: absolute; 
  z-index: -1;
  width: 100%;
  left: 0;
  height:500px;  
}
.unskew,.picturebox img{
	-webkit-transform: skewY(-15deg);
    -ms-transform: skewY(-15deg);
    transform: skewY(-15deg);
}
h1{
	font-size:82px;
	text-align:right;
	color:#b7d1df;	
	margin-bottom:6%;
}
.bigtext{
	font-size:20px;
	text-align:right;
	color:#b7d1df;
	
}
#portfolio{
	background:#0f2f44;
    margin: 130px 0;
	overflow:auto;
}
#portfolio h2{
	color:white;
	font-size:28px;
}
#morell{
	padding-top:4px;
}
.column{
	width: 48%;
	float:left;
}
.column + .column{
	margin-left:4%;
}
.picturebox{
	overflow:hidden;
	backface-visibility:hidden;	
	height: 0;
	padding-bottom:65%;
	margin-bottom:10%;
}
.picturebox img{
	margin-top: -17%;
}
#bottom{
	background:#457489;
	margin-top:40px;
}
#bottom p{
	/*background:#3A3A3A;*/
}
#darken{
	position:fixed;
	z-index:1;
	top:0;
	left:0;
	background-color:rgba(0,0,0,0.58);
	width: 100%;
	height: 100%;
	display:none;
	
}
#modal{
	width: 80%;
	height:90%;
	background-color:white;
	margin-left:-40%;
	position:fixed;
	top:5%;
	left:50%;	
}
#close{
	top:0;
	right:0;
	margin-left:auto;
	display:block;
}
@media (max-width:940px){
	h1{
		font-size:70px;
	}
	p{
		font-size:14px;
	}
}
@media (max-width:775px){
	h1{
		font-size:60px;
	}
	p{
		font-size:14px;
	}
}
@media (max-width:690px){
	h1{
		font-size:40px;
	}
	h2, .bigtext{
		font-size:16px;
	}
	p{
		font-size:14px;
	}
}
@media (max-width:510px){
	h1{
		font-size:24px;
	}
	h2, .bigtext{
		font-size:12px;
	}
	p{
		font-size:10px;
	}
}



